<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")
filtered_col = [col for col in df.columns if col.startswith('W')]
print(filtered_col)

['WorkWeekHrs', 'WorkPlan', 'WorkChallenge', 'WorkRemote', 'WorkLoc', 'WebFrameWorkedWith', 'WebFrameDesireNextYear', 'WelcomeChange']

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [37]:
duplicate_count = df.duplicated().sum()
print("Number of duplicate rows:", duplicate_count)

Number of duplicate rows: 154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [4]:
df = df.drop_duplicates()

Verify if duplicates were actually dropped.

In [5]:
duplicate_count_after_removal = df.duplicated().sum() 
print("Number of duplicate rows after removal:", duplicate_count_after_removal)

uniq_row_respond = df['Respondent'].nunique()
print("Number of unique rows:", uniq_row_respond)

blank_ed = df['EdLevel'].isnull().sum()
print("Number of blank rows in column EdLevel is:", blank_ed)

blank_country = df['Country'].isnull().sum()
print("Number of blank rows in column Country is:", blank_country)

Number of duplicate rows after removal: 0
Number of unique rows: 11398
Number of blank rows in column EdLevel is: 112
Number of blank rows in column Country is: 0

## Finding Missing values

Find the missing values for all columns.

In [6]:
missing_values = df.isnull().sum() 
print("Missing values:\n", missing_values)

Missing values:
 Respondent        0
MainBranch        0
Hobbyist          0
OpenSourcer       0
OpenSource       81
               ...
Sexuality       542
Ethnicity       675
Dependents      140
SurveyLength     19
SurveyEase       14
Length: 85, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [18]:
missing_values_workloc = df['WorkLoc'].isnull().sum() 
print("Number of missing values in 'WorkLoc' column:", missing_values_workloc)

Number of missing values in 'WorkLoc' column: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [19]:
value_counts_workloc = df['WorkLoc'].value_counts() 
print("Value counts from 'WorkLoc' column:\n", value_counts_workloc)

Value counts from 'WorkLoc' column:
 Office                                            6905
Home                                              3638
Other place, such as a coworking space or cafe     977
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [46]:
most_frequent_value = df['WorkLoc'].mode().values[0] 
print("Most frequent value in 'WorkLoc' column:", most_frequent_value)

most_frequent_value_employ = df['Employment'].mode().values[0] 
print("Most frequent value in Employment column:", most_frequent_value_employ)

min_under_grad = df['UndergradMajor'].value_counts().idxmin()
print("Category with min number of rows under UndergradMajor:", min_under_grad)

Most frequent value in 'WorkLoc' column: Office
Most frequent value in Employment column: Employed full-time
Category with min number of rows under UndergradMajor: A health science (ex. nursing, pharmacy, radiology)

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [28]:
df['WorkLoc'].fillna(most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [29]:
missing_values_workloc_after_impute = df['WorkLoc'].isnull().sum() 
print("Number of missing values in WorkLoc column after imputation:", missing_values_workloc_after_impute)

Number of missing values in WorkLoc column after imputation: 0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [8]:
comp_freq_categories = df['CompFreq'].unique()
print("Categories in 'CompFreq':", comp_freq_categories)

yearly_count = df[df['CompFreq'] == 'Yearly'].shape[0]
print("Yearly count:", yearly_count)

Categories in 'CompFreq': ['Yearly' 'Monthly' 'Weekly' nan]
Yearly count: 6073

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [9]:
df['NormalizedAnnualCompensation'] = df.apply(lambda row: row['CompTotal'] if row['CompFreq'] == 'Yearly' else row['CompTotal'] * 12 if row['CompFreq'] == 'Monthly' else row['CompTotal'] * 52, axis=1)

median_normal = df["NormalizedAnnualCompensation"].median()
print("Median normalized annual compensation:", median_normal)

norm_ann_comp = df['NormalizedAnnualCompensation']
print(norm_ann_comp)

Median normalized annual compensation: 100000.0
0         61000.0
1        138000.0
2         90000.0
3        348000.0
4         90000.0
           ...
11547    130000.0
11548     74400.0
11549    105000.0
11550     80000.0
11551         NaN
Name: NormalizedAnnualCompensation, Length: 11398, dtype: float64

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).